extends layout

block content
    .container
        h1.form Deleting brand: #{brand.name}
        .delete-info
            p Name
            h2= brand.name
        form(action="" method="post")
            button(type="submit") Delete brand and products
        