extends layout

block content
    .container
        .it-grid
            h1 Brand catalog
            for brand in brands
                a.item.prod-grid-item(href=brand.url)
                    img(src=("uploads/logos/" + (brand.logo || "default.png")))
                    h4=brand.name
