extends layout

block content
    .container
        if errors
            ul.errors
                h3.error-header Please fix the following problem#{errors.length>1 ? "s" : ""}:
                for error in errors
                    li= (error.msg || error)
        h1.form= title
        form(action="" method="post")
            .input-section
                label(for="cat-name") Category name
                input#cat-name(name="name" value=(name || ""))
                if admin
                    .separator
                    label(for="cat-pass") Admin Password:
                    input#cat-pass(name="password" value="")
            button(type="submit") Save category