extends layout

block content
    .container
        if errors
            ul.errors
                h3.error-header Please fix the following problem#{errors.length>1 ? "s" : ""}:
                for error in errors
                    li= (error.msg || error)
        h1.form= title + product.name
        form(method="post" enctype="multipart/form-data" action="")
            .input-section
                input#review-image(type="hidden" name="review-product" value=product._id)
                label(for="review-image") Rating:
                input#review-rating.rating.rating--nojs(name="rating" max="5" type="range" value=(newReview !== undefined ? newReview.rating : "") step="0.5")
                .separator
                label(for="review-image") Review image:
                input#review-image(type="file" name="image" value="")
                .separator
                label(for="review-author") Author:
                input#review-author(name="author" value=(newReview !== undefined ? newReview.author : ""))
                .separator
                label(for="review-text") Message:
                input#review-text(name="text" value=(newReview !== undefined ? newReview.text : ""))
            button(type="submit") Save review